@import 'variables'; // colors, fonts etc...

@import 'vendors/bourbon/bourbon'; // http://bourbon.io/ 

@import 'vendors/css3-mixins/css3-mixins'; // custom mixins

@import 'modules/base';

// @import 'vendors/bourbon-bootstrap-grid/base'; // https://gist.github.com/johnkoht/6405117

@import 'helpers/mixins'; // custom mixins

@import "base/base"; // Reset, base font etc...

@import 'layout/base'; // Sections of the app that do not change

@import 'components/base'; 

@import 'pages/base';

.border {
  border: 1px solid #F00;
}

a {
  img {
    border: 0;
  }
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.align_center {
  text-align: center;
}

.label_highlight {
  color: #ABADB3;
}

.item_hidden {
  font-size: 10px;
  font-style: italic;
  color: #003A88;
}

// Clearfix 

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

.clear {
  @extend .clearfix;
}

// Panel 

.panel {
  width: 100%;
  min-height: 200px;
  margin: 0px 0px 30px;
  padding: 20px;
  background: #FFF none repeat scroll 0% 0%;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09);
  border: 1px solid $widget-border-color;
  img {
    width: 100%;
    height: auto;
  }
}

// Code Mirror gutter fix
// When z-index is applied it shows above the sidebar child menu items
.CodeMirror-gutter {
  z-index: 0 !important;
}

// Matrix fields 
@import url('matrix.css'); 