/* Buttons & Icons */

ul#icons {
	margin:0;
	padding:0;
}

ul#icons li, .pagination li {
	margin:2px;
	position:relative;
	padding:4px 0;
	cursor:pointer;
	float:left;
	list-style:none;
}

ul#icons span.ui-icon {
	float:left;
	margin:0 4px;
}

	/* Pagination */

.pagination li a {
	padding:3px 6px 2px;
	display:block;
}

.pagination .previous-off, .pagination .next-off, .pagination .active {
	padding:8px 4px;
}

	/* Buttons, submit inputs */

/* a.btn {
	padding: .4em 1em .4em 20px;
	position:relative;
} */

a.btn_no_text {
	padding:10px;
}

a.btn span.ui-icon {
	margin:0 5px 0 0;
	position:absolute;
	left:.2em;
	top:2px;
}

#header a.btn span.ui-icon {
	top:4px;
}

/* #page-wrapper a.btn {
	margin:5px;
	display:block;
	float:left;
} */

/* button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; } */

	/* Main content */

#page-wrapper {

}

#page-wrapper #main-wrapper {
	float:left;

	width:100%;
}

#page-wrapper #main-wrapper #main-content {
	margin-right:242px;
	padding:10px 10px 10px;
}

	/* Header navigation menu */

#navigation li {
	float:left;
	position:relative;
}

#navigation li a {
	display:block;
	height:38px;
	line-height:38px;
	padding:0 8px;
}
#navigation li.selected {
    background: #f9f9f9;
    border-left: 1px solid #d0d0d0;
}
#navigation li.selected a {
    color: #1A9ADA;
}
#navigation li.sfHover a, #navigation li.sfHover2 a {
	padding:0 7px;
}

#navigation li ul {
	width:185px;
	padding:5px;
	left:-1px;
	position:absolute;
	z-index:999;
}

#navigation li ul li {
	float:none;
	position:relative;
	z-index:999;
}

#navigation li ul li.sfHover, #navigation li ul li.sfHover2 { 
	margin:0;
	border-left:0;
	border-right:0;
}

#navigation li ul li ul {
	left:185px;
	top:0;
}

#navigation .ui-icon-carat-1-s {
	float:right;
	margin:12px 0 0 0;
}

	/* Pages title box */

#page-wrapper #main-wrapper #main-content .page-title {
	padding:10px;
	margin:0 0 20px;
}

#page-wrapper #main-wrapper #main-content .page-title h1 {
	padding:0;
	font-weight:bold;
	font-size:1.2em;
}

#page-wrapper #main-wrapper #main-content .page-title .other {
	font-size:0.9em;
	margin:8px 0 0;
	padding:8px 0 0;
	width:100%;
}

#page-wrapper #main-wrapper #main-content .page-title .other .float-left {
	padding:6px 0 0;
}

	/* Dashboard buttons */
	
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li {
	float:left;
	margin:7px;
}
	
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a {
	display:block;
	width:100px;
	padding:80px 0 0;
	height:20px;
	background-repeat:no-repeat;
	background-position:50% 5px;
	text-align:center;
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Books {
	background-image:url('../images/icons/Books.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Book_phones {
	background-image:url('../images/icons/Book_phones.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Briefcase_files {
	background-image:url('../images/icons/Briefcase_files.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Box_recycle {
	background-image:url('../images/icons/Box_recycle.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Box_content {
	background-image:url('../images/icons/Box_content.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Chart_5 {
	background-image:url('../images/icons/Chart_5.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Clipboard_3 {
	background-image:url('../images/icons/Clipboard_3.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Chart_4 {
	background-image:url('../images/icons/Chart_4.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Mail_open {
	background-image:url('../images/icons/Mail_open.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Glass {
	background-image:url('../images/icons/Glass.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Globe {
	background-image:url('../images/icons/Globe.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Mail_compose {
	background-image:url('../images/icons/Mail_compose.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Star {
	background-image:url('../images/icons/Star.png');
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a.Monitor {
	background-image:url('../images/icons/Monitor.png');
}

	/* Different title styles */

#page-wrapper #main-wrapper .title {
	padding:0 15px 10px;
	margin:0 0 30px;
}

#page-wrapper #main-wrapper .title-spacing {
	margin-top:25px;
}

#page-wrapper #main-wrapper .title h2 {
	font-weight:bold;
	font-size:1.4em;
	padding:0 0 5px;
}

#page-wrapper #main-wrapper .title h3 {
	font-weight:bold;
	font-size:1.2em;
	padding:0 0 5px;
}

	/* Main content grid */

.column {
		width:33%;
		float:left;
}

	/* Two columns */

.two-column .column, .two-column .column-fixed {
	width:50%;
	margin:0;
	float:left;
}

	/* Three columns, one big */

.three-column-small .column {
	width:25%;
}

.three-column-small .column-big {
	width:49%;
}

.portlet {
	margin:0 1em 1em 0;
}

.portlet-content {
	margin:0;
	padding:7px;
}

.portlet-header .ui-icon { 
	float:right;
	margin-top:-2px;
}

.ui-sortable-placeholder {
	background:#ffffcc;
	padding:14px;
	visibility:visible!important;
	height:50px !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

	/* Tooltip */

#tooltip {
	position:absolute;
	z-index:30000;
	padding:3px;
	background:#363636;
	color:#FFF!important;
	font-size:0.9em;
}

#tooltip div {
	margin:0;
	background:#808080;
	padding:5px;
	font-size:0.9em;
}

#tooltip h3 {
	color:#fff;
	font-weight:bold;
	padding:5px;
	margin:0;
	background:#5f5f5f;
}

	/* Sidebar */

#page-wrapper #sidebar {
	float:left;
	margin:0 0 0 -241px;
	width:220px;
	padding:10px;
	border-left-width:1px;
	border-bottom-width:1px;
	border-style:solid;
}

#page-wrapper #sidebar .side-col .portlet {
	margin:0 0 15px;
}

#page-wrapper #sidebar .ui-datepicker {
	width:auto;
	margin-bottom:10px;
}

	/* Sidebar menu */

#page-wrapper #sidebar .side-menu li {
	display:block;
}

#page-wrapper #sidebar .side-menu li a {
	padding:4px;
	display:block;
}

#page-wrapper #sidebar .side-menu li#fluid_layout {
	display:none;
}

	/* Footer */

#footer {
	padding:30px 0 50px;
	text-align:center;
	font-size:0.9em;
}

#footer #menu {
	padding:0 0 30px;
}

#footer #menu a {
	margin:0 5px;
}
