/***** Tables *****/

table {
  margin: 20px 0 40px 0;
  width: 100%;
  overflow: hidden;
  font: 13px/17px Sans-Serif;
  border-bottom: 1px solid #D6D6D6;
}

caption {
  margin: 0 0 10px;
}

tr {
  background-color: #FFF;
  transition: all .1s linear 0s;
  -moz-transition: all .1s linear 0s;
  -webkit-transition: all .1s linear 0s;
  -o-transition: all .1s linear 0s;
  &:hover {
    background-color: #F1F1F1;
    transition: all .1s linear 0s;
    -moz-transition: all .1s linear 0s;
    -webkit-transition: all .1s linear 0s;
    -o-transition: all .1s linear 0s;
  }
  &.even {
    background-color: #FFF;
  }
  &.odd {
    background-color: #F1F1F1;
  }
}

th {
  padding: 8px;
  background-color: #F1F1F1;
  color: #222;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #D6D6D6;
  text-align: left;
  white-space: nowrap;
}

td {
  padding: 8px;
  min-width: 100px;
  background-color: transparent;
  color: #666;
  border: none;
  border-top: 1px solid #D6D6D6;
  &.highlight {
    padding: 11px 8px;
    color: #EEE;
    font-weight: bold;
    display: block;
    font-size: inherit;
    border: none;
    background-color: #333;
  }
}