

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Entries Tag &mdash; PageStudio 1.2.0 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  

  
    <link rel="top" title="PageStudio 1.2.0 documentation" href="../../index.html"/>
        <link rel="up" title="Content Module" href="index.html"/>
        <link rel="next" title="Entry Name Tag" href="entry-name-tag.html"/>
        <link rel="prev" title="Content Module" href="index.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="fa fa-home"> PageStudio
          

          
          </a>

          
            
            
              <div class="version">
                1.2.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul>
<li class="toctree-l1"><a class="reference internal" href="../../general/welcome.html">Welcome</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../general/getting-started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../general/change-log.html">Change Log</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../general/roadmap.html">Development Road Map</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../general/license.html">License Agreement</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../general/multilangual-setup.html">Multilangual Setup</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../general/themes.html">Themes</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../installation/index.html">Installation</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Modules</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../index.html#installation">Installation</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../index.html#core-modules">Core Modules</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../calendar/index.html">Calendar Module</a></li>
<li class="toctree-l3"><a class="reference internal" href="../contact/index.html">Contact Module</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="index.html">Content Module</a><ul class="current">
<li class="toctree-l4 current"><a class="reference internal" href="index.html#plugin-tags">Plugin Tags</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../dashboard/index.html">Dashboard Module</a></li>
<li class="toctree-l3"><a class="reference internal" href="../galleries/index.html">Galleries Module</a></li>
<li class="toctree-l3"><a class="reference internal" href="../navigations/index.html">Navigations Module</a></li>
<li class="toctree-l3"><a class="reference internal" href="../settings/index.html">Settings Module</a></li>
<li class="toctree-l3"><a class="reference internal" href="../users/index.html">Users Module</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../plugins/index.html">Plugins</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../index.html">PageStudio</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          





<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../index.html">Modules</a> &raquo;</li>
      
          <li><a href="index.html">Content Module</a> &raquo;</li>
      
    <li>Entries Tag</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../_sources/modules/content/entries-tag.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="entries-tag">
<h1>Entries Tag<a class="headerlink" href="#entries-tag" title="Permalink to this headline">¶</a></h1>
<p>Queries and returns entries based on the provided parameters.</p>
<p>Using the single tag operator, entries will be outputted using the layout specified in the entry&#8217;s content type.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="x">{{ content:entries content_type=&quot;pages&quot; }}</span>
</pre></div>
</div>
<div class="section" id="tag-block">
<h2>Tag Block<a class="headerlink" href="#tag-block" title="Permalink to this headline">¶</a></h2>
<p>Using the tag block operator you can control what fields are outputted and how it is formatted.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="x">{{ content:entries content_type=&quot;pages&quot; }}</span>
<span class="x">    &lt;h1&gt;{{ title }}&lt;/h1&gt;</span>
<span class="x">    {{ content }}</span>
<span class="x">{{ /content:entries }}</span>
</pre></div>
</div>
</div>
<div class="section" id="pre-defined-tags">
<h2>Pre-defined Tags<a class="headerlink" href="#pre-defined-tags" title="Permalink to this headline">¶</a></h2>
<p>All entries have the following pre-defined tags that can be used anywhere in the content:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="x">{{ title }} - Outputs the title of the page</span>
<span class="x">{{ title_editable }} - An inline editable title field</span>
<span class="x">{{ created_date }} - Has an optional parameter to the date/time (ex: format=&quot;m/d/Y h:i:s&quot;)</span>
<span class="x">{{ modified_date }} - Has an optional parameter to the date/time (ex: format=&quot;m/d/Y h:i:s&quot;)</span>
<span class="x">{{ url_title }} - The URL title of an dynamic route entry</span>
<span class="x">{{ slug }} - The page URI of the current entry</span>
<span class="x">{{ dynamic_route }} - The dynamic route URI</span>
<span class="x">{{ content_type }} - The content type short name of the current entries content type</span>
<span class="x">{{ count }} - The current iteration count of the current entry in the loop</span>
<span class="x">{{ total_results }} - The total number of entries returned</span>
<span class="x">{{ author_id }} - The ID of the author of the entry</span>
<span class="x">{{ author }} - Outputs the first and last name of the author of the entry</span>
<span class="x">{{ meta_title }} - Outputs the pages meta title</span>
<span class="x">{{ meta_description }} - Outputs the pages meta description</span>
<span class="x">{{ meta_keywords }} - Outputs the pages meta keywords</span>
</pre></div>
</div>
<div class="section" id="parameters">
<h3>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h3>
<blockquote>
<div><p><code class="docutils literal"><span class="pre">backspace=</span></code></p>
<p><code class="docutils literal"><span class="pre">category=</span></code></p>
<p><code class="docutils literal"><span class="pre">content_type=</span></code></p>
<p><code class="docutils literal"><span class="pre">entry_id=</span></code></p>
<p><code class="docutils literal"><span class="pre">limit=</span></code></p>
<p><code class="docutils literal"><span class="pre">order_by=</span></code></p>
<p><code class="docutils literal"><span class="pre">paginate=</span></code></p>
<p><code class="docutils literal"><span class="pre">segment=</span></code></p>
<p><code class="docutils literal"><span class="pre">sort=</span></code></p>
</div></blockquote>
<div class="section" id="backspace">
<h4>backspace=<a class="headerlink" href="#backspace" title="Permalink to this headline">¶</a></h4>
<p>The number of characters to remove from the end of the content on the last iteration. This is used to trim unwanted formatting such as a comma or a line break on the last entry.</p>
<p>backspace=&#8221;2&#8221;</p>
<p><strong>Example:</strong></p>
<p><strong>Output:</strong>
Home, Page Not Found, About Us</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In this example the backspace is 2 because we trimmed a space and a comma. In order for there to be no space after the comma and be able to use a backspace of 1 there would have to be no whitespace between the comma and the closing {{ /content:entries }} tag.</p>
</div>
</div>
<div class="section" id="category">
<h4>category=<a class="headerlink" href="#category" title="Permalink to this headline">¶</a></h4>
<p>Documentation coming soon.</p>
</div>
<div class="section" id="content-type">
<h4>content_type=<a class="headerlink" href="#content-type" title="Permalink to this headline">¶</a></h4>
<p>Used to return entries of a specified content type. To reference a content type supply the content type&#8217;s short name.</p>
<p><code class="docutils literal"><span class="pre">content_type=&quot;pages&quot;</span></code></p>
<p>To return entries of multiple content types, provide the list of short names separated by a pipe.</p>
<p><code class="docutils literal"><span class="pre">content_type=&quot;pages|events&quot;</span></code></p>
<p>You can also return all entries but exclude entries of specific content types by using the keyword &#8220;not&#8221;.</p>
<p><code class="docutils literal"><span class="pre">content_type=&quot;not</span> <span class="pre">pages|events&quot;</span></code></p>
</div>
<div class="section" id="entry-id">
<h4>entry_id=<a class="headerlink" href="#entry-id" title="Permalink to this headline">¶</a></h4>
<p>Queries and returns a single entry by its ID. Great for embedding entries inside themes, content types, and other entries to prevent duplicating content.</p>
<p><code class="docutils literal"><span class="pre">entry_id=&quot;18&quot;</span></code></p>
</div>
<div class="section" id="limit">
<h4>limit=<a class="headerlink" href="#limit" title="Permalink to this headline">¶</a></h4>
<p>Limit the number of entries returned.</p>
<p><code class="docutils literal"><span class="pre">limit=&quot;10&quot;</span></code></p>
</div>
<div class="section" id="order-by">
<h4>order_by=<a class="headerlink" href="#order-by" title="Permalink to this headline">¶</a></h4>
<p>Order the returned entries by a content type&#8217;s content field. To set the order by, provide the fields short tag name without brackets.</p>
<p><code class="docutils literal"><span class="pre">order_by=&quot;title&quot;</span></code></p>
<p>You can also order by multiple fields by providing a pipe delimited list of field short tags.</p>
<p><code class="docutils literal"><span class="pre">order_by=&quot;created_date|modified_date&quot;</span></code></p>
<p>If you would like entries to be completely random you can set use the keyword &#8220;random&#8221;</p>
<p><code class="docutils literal"><span class="pre">order_by=&quot;random&quot;</span></code></p>
<p>See the sort paramater on how to set the sorting for the order bys.</p>
</div>
<div class="section" id="paginate">
<h4>paginate=<a class="headerlink" href="#paginate" title="Permalink to this headline">¶</a></h4>
<p><code class="docutils literal"><span class="pre">paginate=&quot;top|bottom|both&quot;</span></code></p>
<p>The opening and closing tags for pagination. This can to be used in conjunction with the paginate= parameter to determine where the contents of this tag will appear. See below for the available variables for use inside this tag. This tag is wrapped around either the single variables (see below) or the next/previous variable pairs.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="x">{{paginate}} {{/paginate}}</span>
</pre></div>
</div>
</div>
<div class="section" id="pagination-links">
<h4>pagination_links=<a class="headerlink" href="#pagination-links" title="Permalink to this headline">¶</a></h4>
<p>This variable shows the current page you are on as well as “surrounding” pages in addition to links for next/previous pages and first/last pages.</p>
<p>You can use <code class="docutils literal"><span class="pre">{{pagination_links}}</span></code> in two ways. It can be used as a single variable:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="x">{{paginate}} {{ pagination_links }} {{/paginate}}</span>
</pre></div>
</div>
<p>And the output looks like this:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="x">« First  &lt;  11 12 13 14 15 &gt;  Last »</span>
</pre></div>
</div>
<p>When used as a pair, you have a lot more flexibility with the markup:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="x">{{paginate}}</span>
<span class="x">    {{ if previous_page }}</span>
<span class="x">        &lt;li&gt;&lt;a href=&quot;{{pagination_url}}&quot; class=&quot;page-next&quot;&gt;Previous Page&lt;/a&gt;&lt;/li&gt;</span>
<span class="x">    {{ endif }}</span>

<span class="x">    ...</span>

<span class="x">    {{ if next_page }}</span>
<span class="x">        &lt;li&gt;&lt;a href=&quot;{{pagination_url}}&quot; class=&quot;page-next&quot;&gt;Next Page&lt;/a&gt;&lt;/li&gt;</span>
<span class="x">    {{ endif }}</span>
<span class="x">{{/paginate}}</span>
</pre></div>
</div>
<div class="admonition important">
<p class="first admonition-title">Important</p>
<p class="last">In order for the pagination to work the <code class="docutils literal"><span class="pre">limit=</span></code> paramater must also be set in the content opening tag block.</p>
</div>
</div>
<div class="section" id="segment">
<h4>segment=<a class="headerlink" href="#segment" title="Permalink to this headline">¶</a></h4>
<p>This allows you to query and return a single entry by its entry id or URL title defined in a segment in the current page&#8217;s URL.</p>
<p><code class="docutils literal"><span class="pre">segment=&quot;3&quot;</span></code></p>
<p>For example, if the current page&#8217;s URL is:</p>
<p><a class="reference external" href="http://somedomain.com/blog/entry/26">http://somedomain.com/blog/entry/26</a></p>
<p>The third segment of this URL defines the entry id. So you could have {{ content:entries }} return the content for entry #26 by setting the segment to 3.</p>
<p>If no entry is found by the identifier in the specified segment, the page not found will be returned.</p>
</div>
<div class="section" id="sort">
<h4>sort=<a class="headerlink" href="#sort" title="Permalink to this headline">¶</a></h4>
<p>By default entries are sorted ascending. You can modify this by setting sort to &#8220;desc&#8221;</p>
<p><code class="docutils literal"><span class="pre">sort=&quot;desc&quot;</span></code></p>
<p>If you have multiple order bys you can specify the sort for each order by with a pipe delimited list in the same order as the order bys.</p>
<p><code class="docutils literal"><span class="pre">sort=&quot;asc|desc&quot;</span></code></p>
</div>
</div>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="entry-name-tag.html" class="btn btn-neutral float-right" title="Entry Name Tag" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="index.html" class="btn btn-neutral" title="Content Module" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2015, Cosmo Mathieu.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'1.2.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>