*{
	padding:0;
	margin:0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  color: #666;
  // font-family: 'Ek Mukta', sans-serif;
	font-size: 16px;
	font-weight: 400;
	// font-weight: 300;
  width: 100%;
  height: 100%;
  background-color: #fff;
  line-height: 1.6em;
	overflow-x: hidden;
}